In [2]:
import sys

import pandas as pd

sys.path.append("/home/jovyan/work/sem-covid/")
sys.path = list(set(sys.path))
import os

os.getcwd()
os.chdir('/home/jovyan/work/sem-covid/')
from sem_covid import config
import json
import numpy as np

from sem_covid.services.store_registry import StoreRegistry, store_registry

In [4]:
es_store = store_registry.es_index_store()

In [5]:
pwdb_df=es_store.get_dataframe(index_name=config.PWDB_ELASTIC_SEARCH_INDEX_NAME)
eu_cellar_df = es_store.get_dataframe(index_name=config.EU_CELLAR_ELASTIC_SEARCH_INDEX_NAME)
eu_timeline_df = es_store.get_dataframe(index_name=config.EU_TIMELINE_ELASTIC_SEARCH_INDEX_NAME)
ir_timeline_df = es_store.get_dataframe(index_name=config.IRELAND_TIMELINE_ELASTIC_SEARCH_INDEX_NAME)

100% (1288 of 1288) |####################| Elapsed Time: 0:00:00 Time:  0:00:00
100% (2818 of 2818) |####################| Elapsed Time: 0:00:00 Time:  0:00:00
100% (210 of 210) |######################| Elapsed Time: 0:00:00 Time:  0:00:00
100% (1859 of 1859) |####################| Elapsed Time: 0:00:00 Time:  0:00:00

In [4]:
eu_timeline_df.columns

Index(['month_name', 'date', 'title', 'abstract', 'presscorner_links',
       'all_links', 'detail_link', 'detail_type', 'detail_date',
       'detail_location', 'detail_content', 'detail_title', 'detail_pdf_link',
       'press_contacts', 'topics', 'for_more_information_links'],
      dtype='object')

In [164]:
eu_timeline_df[['month_name', 'date', 'detail_date']]
date_columns = [col for col in eu_timeline_df.columns if 'date' in col]
print(date_columns)

['date', 'detail_date']

In [163]:
# combine colums into a new column date and transform

#eu_timeline_df['month_name'] = eu_timeline_df['month_name'].map(lambda x: x.split(" ")[1])
eu_timeline_df['date'] = eu_timeline_df['date'].astype(str) + " " + eu_timeline_df['month_name'].map(lambda x: x.split(" ")[1]).astype(str)
eu_timeline_df.date = pd.to_datetime(eu_timeline_df.date).dt.strftime('%Y-%m-%d')
eu_timeline_df.detail_date = pd.to_datetime(eu_timeline_df.detail_date).dt.strftime('%Y-%m-%d')
eu_timeline_df[['month_name', 'date', 'detail_date']]

,month_name,date,detail_date
_id,,,
01dc34ca5f6bfa5316012d6f89a4256b8d2ce6e3a12210b0406903dd15bf36ac,January 2021,2021-01-28,NaN
04d776c061243576ffc1e1c5a724d41ecca2ed12339b2ff473c5aa2ff1a071c7,June 2021,2021-06-22,2021-06-22
04eb55005a803c7353e5d5ed339d7f3a72cc8da6e49f2b8b152bf8fb40a1398f,June 2020,2020-06-16,2020-06-17
073e22ec2b44a5f2f6289f09dc954ecd6ca6cbb4a4b33ffd88c3c150572569c0,April 2020,2020-04-15,2020-04-15
0a3650bef3282d09d971dd92dc01570b7ecbdb67a4bdd0ff1c8cf8443a06b937,December 2020,2020-12-18,NaN
...,...,...,...
fa793c764aaf89c283f747036c9d73fd66f0a7e3692be56b8ac985610bef2417,June 2021,2021-06-29,2021-06-29
fb9c4d1634da94c73fd529b44ec40057c28a5c925a8b8e71d73c49e5a815784d,March 2020,2020-03-13,2020-03-13
fbad1d421cf80d3e0e4c6b6d3d60a2a6ec8bed4ee19e07cd15d963fa74352420,January 2021,2021-01-28,2020-03-19
fbeff236835d3cfd394f9c9fd5b63eb524c9cdab6e68c9370758f3e35592973e,July 2020,2020-07-06,2020-07-06
ffbf6d305594c49b6f5d4d66f56e674f1d953833ba9fdceed84d72370c884653,June 2021,2021-06-23,2021-06-23

In [10]:
ir_timeline_df.columns

Index(['keyword', 'page_type', 'page_link', 'department_data',
       'published_date', 'updated_date', 'title', 'content', 'content_links',
       'campaigns_links', 'part_of_links', 'documents'],
      dtype='object')

In [165]:
ir_timeline_df[['published_date','updated_date']]

,published_date,updated_date
_id,,
003ea2a9313db86a3e0b9cd272d4dd861ed92cfab3a5d120725211cc113b1f93,17 February 2021,17 February 2021
004a77d6db5f3be729b4b3d8b7eb0ccb564defb037a0edcba96eb5c164d87a37,31 December 2020,22 April 2021
005af836e8f7b1d03afe563d254632972036a1fbd6092b7965fe8b09a73e516b,19 April 2020,19 April 2020
007344aa53333e390623e94ff899bd949ecc9f75a73937fdbcc9eebe6ffa6879,21 October 2020,21 October 2020
00ab798bb7ed96ce3b93b9a3488522a58853bcaaf1bfa1bcf05fd8ffd8af0ce1,18 December 2020,18 December 2020
...,...,...
ff02d332755586b0a04038d07386167ad32b504eeb60058e5ab9ac927ba750b3,30 October 2020,30 October 2020
ff474a2f55ba0a59240e4e986870ba12be9f2238bec4f4f8ca2c9c712172ed43,5 February 2021,8 February 2021
ff4ea2ef933287c4125d898245e878ae9fcb1b356b3c60de288dd97020bdd3a5,22 January 2021,23 January 2021
ff82338ae7c8129669562babc1c0d7a893a9c59f6d2bd00cefe853539721367e,20 March 2020,20 March 2020
ffef06958ad76786347e3aa545351f708105f6db826708b4523cd16ea150e702,24 May 2021,1 June 2021

In [166]:
date_columns = [col for col in ir_timeline_df.columns if 'date' in col]
for date_column in date_columns:
    ir_timeline_df[date_column] = ir_timeline_df[date_column].apply(
        lambda x: pd.to_datetime(x, errors='coerce', yearfirst=True).date() if x else None).replace(
        {np.nan: None})

ir_timeline_df[['published_date','updated_date']]

                                                   published_date updated_date
_id
003ea2a9313db86a3e0b9cd272d4dd861ed92cfab3a5d12...     2021-02-17   2021-02-17
004a77d6db5f3be729b4b3d8b7eb0ccb564defb037a0edc...     2020-12-31   2021-04-22
005af836e8f7b1d03afe563d254632972036a1fbd6092b7...     2020-04-19   2020-04-19
007344aa53333e390623e94ff899bd949ecc9f75a73937f...     2020-10-21   2020-10-21
00ab798bb7ed96ce3b93b9a3488522a58853bcaaf1bfa1b...     2020-12-18   2020-12-18
...                                                           ...          ...
ff02d332755586b0a04038d07386167ad32b504eeb60058...     2020-10-30   2020-10-30
ff474a2f55ba0a59240e4e986870ba12be9f2238bec4f4f...     2021-02-05   2021-02-08
ff4ea2ef933287c4125d898245e878ae9fcb1b356b3c60d...     2021-01-22   2021-01-23
ff82338ae7c8129669562babc1c0d7a893a9c59f6d2bd00...     2020-03-20   2020-03-20
ffef06958ad76786347e3aa545351f708105f6db826708b...     2021-05-24   2021-06-01

[1859 rows x 2 columns]

In [13]:
ir_timeline_df.published_date = pd.to_datetime(ir_timeline_df.published_date).dt.strftime('%Y-%m-%d')
ir_timeline_df.updated_date = pd.to_datetime(ir_timeline_df.updated_date).dt.strftime('%Y-%m-%d')
ir_timeline_df[['published_date','updated_date']]

                                                   published_date updated_date
_id
003ea2a9313db86a3e0b9cd272d4dd861ed92cfab3a5d12...     2021-02-17   2021-02-17
004a77d6db5f3be729b4b3d8b7eb0ccb564defb037a0edc...     2020-12-31   2021-04-22
005af836e8f7b1d03afe563d254632972036a1fbd6092b7...     2020-04-19   2020-04-19
007344aa53333e390623e94ff899bd949ecc9f75a73937f...     2020-10-21   2020-10-21
00ab798bb7ed96ce3b93b9a3488522a58853bcaaf1bfa1b...     2020-12-18   2020-12-18
...                                                           ...          ...
ff02d332755586b0a04038d07386167ad32b504eeb60058...     2020-10-30   2020-10-30
ff474a2f55ba0a59240e4e986870ba12be9f2238bec4f4f...     2021-02-05   2021-02-08
ff4ea2ef933287c4125d898245e878ae9fcb1b356b3c60d...     2021-01-22   2021-01-23
ff82338ae7c8129669562babc1c0d7a893a9c59f6d2bd00...     2020-03-20   2020-03-20
ffef06958ad76786347e3aa545351f708105f6db826708b...     2021-05-24   2021-06-01

[1859 rows x 2 columns]

In [108]:
pwdb_df.columns

Index(['identifier', 'title', 'title_national_language', 'country',
       'start_date', 'end_date', 'date_type', 'type_of_measure',
       'status_of_regulation', 'category', 'subcategory', 'creation_date',
       'background_info_description', 'content_of_measure_description',
       'use_of_measure_description', 'actors', 'target_groups', 'funding',
       'involvement_of_social_partners_description',
       'social_partner_involvement_form', 'social_partner_role',
       'is_sector_specific', 'private_or_public_sector',
       'is_occupation_specific', 'sectors', 'occupations', 'sources'],
      dtype='object')

In [155]:
pwdb_df[['start_date', 'end_date', 'creation_date']]

,start_date,end_date,creation_date
_id,,,
adc5c75937bc7f7198f534d08b85bd50c9521bfd3f319a090932b5d0bae54de0,10/20/2020,None,11/02/2020
2372d71eb9ad6e6a70982e02bbe802db004ed49d91b2264c0a2e8e41571002cc,05/06/2020,05/31/2021,07/09/2020
8735e268191e9e5cbd3d2a44ca53d297e31746b5f1e24b941db6225a25848353,08/25/2020,None,10/24/2020
18bcd22116c46919e03a3345f793c3859855227ac942e69dd13cbfcd588e1044,03/01/2020,08/31/2020,04/06/2020
b94d8aa95fbdeb1bb832b01fbe5d6e9bf9fc36fceb14f7ba370a963f472fe35b,01/01/2021,None,12/31/2020
...,...,...,...
cb014a456b14c3621dd318a12e611f70c2a9636be9fe181072bd4bf5917a40fa,03/18/2020,01/31/2021,04/13/2020
d233b17dc2b98f14269c2b22be78d93ec5ccf2a0013b86f09175c69353c5800b,05/20/2020,None,07/13/2020
77d7e3c52aaf78bdfb1a1667641db1293bbff862440c547fc3f6e8ab4fbd0d4e,03/17/2020,None,04/21/2020
be8e21b382b63dd838087d7864e4d49a4807d9cc5d71aaa82577383ece92c581,07/01/2020,12/31/2021,10/01/2020
c434820f8f8c0b1447ba2f6f62aed177b9597532d7fcd156c6f556532dd7d11e,09/03/2020,None,09/15/2020

In [157]:
DATES_COLUMNS = ['start_date', 'end_date', 'creation_date']
for date_column in DATES_COLUMNS:
    pwdb_df[date_column] = pwdb_df[date_column].apply(
        lambda x: pd.to_datetime(x, errors='coerce', yearfirst=True).date() if x else None).replace(
        {np.nan: None})
pwdb_df[['start_date', 'end_date', 'creation_date']]

,start_date,end_date,creation_date
_id,,,
adc5c75937bc7f7198f534d08b85bd50c9521bfd3f319a090932b5d0bae54de0,2020-10-20,None,2020-11-02
2372d71eb9ad6e6a70982e02bbe802db004ed49d91b2264c0a2e8e41571002cc,2020-05-06,2021-05-31,2020-07-09
8735e268191e9e5cbd3d2a44ca53d297e31746b5f1e24b941db6225a25848353,2020-08-25,None,2020-10-24
18bcd22116c46919e03a3345f793c3859855227ac942e69dd13cbfcd588e1044,2020-03-01,2020-08-31,2020-04-06
b94d8aa95fbdeb1bb832b01fbe5d6e9bf9fc36fceb14f7ba370a963f472fe35b,2021-01-01,None,2020-12-31
...,...,...,...
cb014a456b14c3621dd318a12e611f70c2a9636be9fe181072bd4bf5917a40fa,2020-03-18,2021-01-31,2020-04-13
d233b17dc2b98f14269c2b22be78d93ec5ccf2a0013b86f09175c69353c5800b,2020-05-20,None,2020-07-13
77d7e3c52aaf78bdfb1a1667641db1293bbff862440c547fc3f6e8ab4fbd0d4e,2020-03-17,None,2020-04-21
be8e21b382b63dd838087d7864e4d49a4807d9cc5d71aaa82577383ece92c581,2020-07-01,2021-12-31,2020-10-01
c434820f8f8c0b1447ba2f6f62aed177b9597532d7fcd156c6f556532dd7d11e,2020-09-03,None,2020-09-15

In [114]:
pwdb_df.start_date = pd.to_datetime(pwdb_df.start_date).dt.strftime('%Y-%m-%d')
pwdb_df.end_date = pd.to_datetime(pwdb_df.end_date).dt.strftime('%Y-%m-%d')
pwdb_df.creation_date = pd.to_datetime(pwdb_df.creation_date).dt.strftime('%Y-%m-%d')
pwdb_df[['start_date', 'end_date', 'creation_date']]

,start_date,end_date,creation_date
_id,,,
adc5c75937bc7f7198f534d08b85bd50c9521bfd3f319a090932b5d0bae54de0,2020-10-20,NaN,2020-11-02
2372d71eb9ad6e6a70982e02bbe802db004ed49d91b2264c0a2e8e41571002cc,2020-05-06,2021-05-31,2020-07-09
8735e268191e9e5cbd3d2a44ca53d297e31746b5f1e24b941db6225a25848353,2020-08-25,NaN,2020-10-24
18bcd22116c46919e03a3345f793c3859855227ac942e69dd13cbfcd588e1044,2020-03-01,2020-08-31,2020-04-06
b94d8aa95fbdeb1bb832b01fbe5d6e9bf9fc36fceb14f7ba370a963f472fe35b,2021-01-01,NaN,2020-12-31
...,...,...,...
cb014a456b14c3621dd318a12e611f70c2a9636be9fe181072bd4bf5917a40fa,2020-03-18,2021-01-31,2020-04-13
d233b17dc2b98f14269c2b22be78d93ec5ccf2a0013b86f09175c69353c5800b,2020-05-20,NaN,2020-07-13
77d7e3c52aaf78bdfb1a1667641db1293bbff862440c547fc3f6e8ab4fbd0d4e,2020-03-17,NaN,2020-04-21
be8e21b382b63dd838087d7864e4d49a4807d9cc5d71aaa82577383ece92c581,2020-07-01,2021-12-31,2020-10-01
c434820f8f8c0b1447ba2f6f62aed177b9597532d7fcd156c6f556532dd7d11e,2020-09-03,NaN,2020-09-15

In [197]:
eu_cellar_df.columns

Index(['work', 'title', 'cdm_types', 'cdm_type_labels', 'resource_types',
       'resource_type_labels', 'eurovoc_concepts', 'eurovoc_concept_labels',
       'subject_matters', 'subject_matter_labels', 'directory_codes',
       'directory_codes_labels', 'celex_numbers', 'legal_elis', 'id_documents',
       'same_as_uris', 'authors', 'author_labels', 'full_ojs', 'oj_sectors',
       'internal_comments', 'is_in_force', 'dates_document', 'dates_created',
       'legal_dates_entry_into_force', 'legal_dates_signature', 'manifs_pdf',
       'manifs_html', 'pdfs_to_download', 'htmls_to_download', 'dossiers',
       'related_works', 'work_sequences', 'eu_cellar_core',
       'eu_cellar_extended', 'metadata', 'content_path', 'content',
       'language'],
      dtype='object')

In [244]:
eu_cellar_df[['dates_document', 'dates_created', 'legal_dates_entry_into_force', 'legal_dates_signature']]

date_columns = [col for col in eu_cellar_df.columns if 'date' in col]
print(date_columns)

['dates_document', 'dates_created', 'legal_dates_entry_into_force', 'legal_dates_signature']

In [152]:
DATES_COLUMNS = ['dates_document', 'dates_created', 'legal_dates_entry_into_force', 'legal_dates_signature']
for date_column in DATES_COLUMNS:
    eu_cellar_df[date_column] = eu_cellar_df[date_column].apply(
        lambda x: pd.to_datetime(x[0], errors='coerce', yearfirst=True).date() if x else None).replace(
        {np.nan: None})

eu_cellar_df[['dates_document', 'dates_created', 'legal_dates_entry_into_force', 'legal_dates_signature']]

,dates_document,dates_created,legal_dates_entry_into_force,legal_dates_signature
_id,,,,
096cf675f70416b2e41772ca7c7e2d9e47b036fd61761f6e271d51b205d0bc50,2020-08-24,None,None,None
098a92d90aed3b1c860da75a07011e016ffd6b932bedb844d57d4aeb722ee691,2020-11-12,None,2020-12-03,None
097445974db4fa8b72c8795530e3c0cfbeaa4399e1cddbfdc5a8c4e463fd6bcf,2020-10-23,None,None,None
09a99dc1b9074fe57ab5aee6544d724ce890983416548addf972829a932708da,2020-05-25,None,None,None
099891adb9d1f50f2ee91ca1a4a38f5acad656f8f9c48f659f6be310fb0cbfc3,2021-04-21,None,None,None
...,...,...,...,...
7f78f989ecbe6f02cf7b35c58620f734285c0bcf930675fb33881c74935b9edb,2021-04-14,None,None,None
0d03875f957d8d5485570408d9ed5cdd3734de99ba1a85d5ce17c328c133ec1e,2020-10-29,None,None,None
0d5371d3179b60985fb0f25ba8954ee1807f720dc7adbdd0e9c581a8d1f120f0,2021-03-11,None,None,None
0d4ab1728064e73ec6ee121b1112cc0084d0159bec1aaaa71b71186327da87b4,2020-05-20,None,None,None
0d497204a50e17efc9565e654866383416443e390ea4fb0e7f61ac9f6354d108,2020-04-15,None,None,None

In [46]:
eu_cellar_df.dates_created.apply(
        lambda x: pd.to_datetime(x[0], errors='coerce', yearfirst=True).date() if x else None).replace(
        {np.nan: None}).apply(lambda x: str(x) if x else None)

In [135]:
#eu_cellar_df.dates_created.apply(lambda x: str(x) if x else None)
# eu_cellar_df.legal_dates_entry_into_force.apply(lambda x: str(x) if x else None)
#eu_cellar_df.legal_dates_entry_into_force = eu_cellar_df.legal_dates_entry_into_force.apply(lambda x: pd.to_datetime(x[0], errors = 'raise', yearfirst=True).strftime('%Y-%m-%d') if x else None)
eu_cellar_df.legal_dates_entry_into_force = eu_cellar_df.legal_dates_entry_into_force.apply(lambda x: pd.to_datetime(x[0], errors = 'coerce', yearfirst=True).date() if x else None).replace({np.nan: None})
eu_cellar_df.legal_dates_entry_into_force

_id
096cf675f70416b2e41772ca7c7e2d9e47b036fd61761f6e271d51b205d0bc50          None
098a92d90aed3b1c860da75a07011e016ffd6b932bedb844d57d4aeb722ee691    2020-12-03
097445974db4fa8b72c8795530e3c0cfbeaa4399e1cddbfdc5a8c4e463fd6bcf          None
09a99dc1b9074fe57ab5aee6544d724ce890983416548addf972829a932708da          None
099891adb9d1f50f2ee91ca1a4a38f5acad656f8f9c48f659f6be310fb0cbfc3          None
                                                                       ...
7f78f989ecbe6f02cf7b35c58620f734285c0bcf930675fb33881c74935b9edb          None
0d03875f957d8d5485570408d9ed5cdd3734de99ba1a85d5ce17c328c133ec1e          None
0d5371d3179b60985fb0f25ba8954ee1807f720dc7adbdd0e9c581a8d1f120f0          None
0d4ab1728064e73ec6ee121b1112cc0084d0159bec1aaaa71b71186327da87b4          None
0d497204a50e17efc9565e654866383416443e390ea4fb0e7f61ac9f6354d108          None
Name: legal_dates_entry_into_force, Length: 2818, dtype: object

In [53]:
eu_cellar_df.legal_dates_entry_into_force = eu_cellar_df.legal_dates_entry_into_force.apply(lambda x: x[0] if x else None)
eu_cellar_df.legal_dates_entry_into_force
#eu_cellar_df.legal_dates_entry_into_force = pd.to_datetime(eu_cellar_df.legal_dates_entry_into_force).dt.strftime('%Y-%m-%d')
#eu_cellar_df.legal_dates_entry_into_force

_id
096cf675f70416b2e41772ca7c7e2d9e47b036fd61761f6e271d51b205d0bc50          None
098a92d90aed3b1c860da75a07011e016ffd6b932bedb844d57d4aeb722ee691    2020-12-03
097445974db4fa8b72c8795530e3c0cfbeaa4399e1cddbfdc5a8c4e463fd6bcf          None
09a99dc1b9074fe57ab5aee6544d724ce890983416548addf972829a932708da          None
099891adb9d1f50f2ee91ca1a4a38f5acad656f8f9c48f659f6be310fb0cbfc3          None
                                                                       ...
7f78f989ecbe6f02cf7b35c58620f734285c0bcf930675fb33881c74935b9edb          None
0d03875f957d8d5485570408d9ed5cdd3734de99ba1a85d5ce17c328c133ec1e          None
0d5371d3179b60985fb0f25ba8954ee1807f720dc7adbdd0e9c581a8d1f120f0          None
0d4ab1728064e73ec6ee121b1112cc0084d0159bec1aaaa71b71186327da87b4          None
0d497204a50e17efc9565e654866383416443e390ea4fb0e7f61ac9f6354d108          None
Name: legal_dates_entry_into_force, Length: 2818, dtype: object

In [73]:
eu_cellar_df.legal_dates_entry_into_force = pd.to_datetime(eu_cellar_df.legal_dates_entry_into_force, errors = 'coerce').dt.strftime('%Y-%m-%d')
eu_cellar_df.legal_dates_entry_into_force

AttributeError: Can only use .dt accessor with datetimelike values

In [63]:
eu_cellar_df.dates_created = eu_cellar_df.dates_created.apply(lambda x: x[0] if x else None)
eu_cellar_df.dates_created
eu_cellar_df.dates_created = pd.to_datetime(eu_cellar_df.dates_created).dt.strftime('%Y-%m-%d')
eu_cellar_df.dates_created

_id
096cf675f70416b2e41772ca7c7e2d9e47b036fd61761f6e271d51b205d0bc50   NaN
098a92d90aed3b1c860da75a07011e016ffd6b932bedb844d57d4aeb722ee691   NaN
097445974db4fa8b72c8795530e3c0cfbeaa4399e1cddbfdc5a8c4e463fd6bcf   NaN
09a99dc1b9074fe57ab5aee6544d724ce890983416548addf972829a932708da   NaN
099891adb9d1f50f2ee91ca1a4a38f5acad656f8f9c48f659f6be310fb0cbfc3   NaN
                                                                    ..
7f78f989ecbe6f02cf7b35c58620f734285c0bcf930675fb33881c74935b9edb   NaN
0d03875f957d8d5485570408d9ed5cdd3734de99ba1a85d5ce17c328c133ec1e   NaN
0d5371d3179b60985fb0f25ba8954ee1807f720dc7adbdd0e9c581a8d1f120f0   NaN
0d4ab1728064e73ec6ee121b1112cc0084d0159bec1aaaa71b71186327da87b4   NaN
0d497204a50e17efc9565e654866383416443e390ea4fb0e7f61ac9f6354d108   NaN
Name: dates_created, Length: 2818, dtype: float64

In [67]:
eu_cellar_df.dates_created = eu_cellar_df.dates_created.replace({np.nan: None})
eu_cellar_df.dates_created

_id
096cf675f70416b2e41772ca7c7e2d9e47b036fd61761f6e271d51b205d0bc50    None
098a92d90aed3b1c860da75a07011e016ffd6b932bedb844d57d4aeb722ee691    None
097445974db4fa8b72c8795530e3c0cfbeaa4399e1cddbfdc5a8c4e463fd6bcf    None
09a99dc1b9074fe57ab5aee6544d724ce890983416548addf972829a932708da    None
099891adb9d1f50f2ee91ca1a4a38f5acad656f8f9c48f659f6be310fb0cbfc3    None
                                                                    ...
7f78f989ecbe6f02cf7b35c58620f734285c0bcf930675fb33881c74935b9edb    None
0d03875f957d8d5485570408d9ed5cdd3734de99ba1a85d5ce17c328c133ec1e    None
0d5371d3179b60985fb0f25ba8954ee1807f720dc7adbdd0e9c581a8d1f120f0    None
0d4ab1728064e73ec6ee121b1112cc0084d0159bec1aaaa71b71186327da87b4    None
0d497204a50e17efc9565e654866383416443e390ea4fb0e7f61ac9f6354d108    None
Name: dates_created, Length: 2818, dtype: object