In [1]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

import pathlib
DATA_FOLDER = pathlib.Path("/home/jovyan/work/Dan/data")
SRC_FOLDER = pathlib.Path("/home/jovyan/work/Dan/src")


import pandas as pd

In [2]:
PATH = DATA_FOLDER / "pwdb/pickle/df.pkl"

df = pd.read_pickle(PATH)
df1 = df[['Concatinated Data (clean)', 'Category', 'Type of measure', 'Target groups']]
df1.head()

,Concatinated Data (clean),Category,Type of measure,Target groups
0,"[hardship, case, fund, safety, net, selfemploy...",Income protection beyond short-time work,Legislations or other statutory regulations,"One person or microenterprises, Self-employed,..."
1,"[state, support, tourism, access, financeas, t...",Supporting businesses to stay afloat,Legislations or other statutory regulations,"SMEs, Sector specific set of companies"
2,"[bank, guarantees, smes, oneperson, enterprise...",Supporting businesses to stay afloat,Legislations or other statutory regulations,"One person or microenterprises, SMEs"
3,"[emergency, measures, relating, shorttime, wor...",Employment protection and retention,Legislations or other statutory regulations,"Employees in standard employment, Other groups..."
4,"[airbus, agreement, making, unworked, hours, p...","Protection of workers, adaptation of workplace",Bipartite collective agreements,"Employees in standard employment, Larger corpo..."

## Type of measure

In [3]:
df1['Type of measure'].value_counts()

Legislations or other statutory regulations    658
Other initiatives or policies                  121
Bipartite collective agreements                 69
Non-binding recommendations or other texts      46
Company practices                               24
Tripartite agreements                           17
Name: Type of measure, dtype: int64

In [4]:
df1.isna().sum()

Concatinated Data (clean)    0
Category                     0
Type of measure              0
Target groups                0
dtype: int64

In [5]:
df1.replace(
    to_replace={"Type of measure": {
        'Legislations or other statutory regulations': 0,
        'Other initiatives or policies': 1,
        'Bipartite collective agreements': 2,
        'Non-binding recommendations or other texts': 3,
        'Company practices': 4,
        'Tripartite agreements': 5
    }}, inplace=True)

In [6]:
df1.head()

,Concatinated Data (clean),Category,Type of measure,Target groups
0,"[hardship, case, fund, safety, net, selfemploy...",Income protection beyond short-time work,0,"One person or microenterprises, Self-employed,..."
1,"[state, support, tourism, access, financeas, t...",Supporting businesses to stay afloat,0,"SMEs, Sector specific set of companies"
2,"[bank, guarantees, smes, oneperson, enterprise...",Supporting businesses to stay afloat,0,"One person or microenterprises, SMEs"
3,"[emergency, measures, relating, shorttime, wor...",Employment protection and retention,0,"Employees in standard employment, Other groups..."
4,"[airbus, agreement, making, unworked, hours, p...","Protection of workers, adaptation of workplace",2,"Employees in standard employment, Larger corpo..."

In [7]:
df1['Type of measure'].value_counts()

0    658
1    121
2     69
3     46
4     24
5     17
Name: Type of measure, dtype: int64

## Category

In [8]:
df1['Category'].value_counts()

Supporting businesses to stay afloat                               282
Income protection beyond short-time work                           129
Protection of workers, adaptation of workplace                     112
Promoting the economic, labour market and social recovery          105
Ensuring business continuity and support for essential services     90
Employment protection and retention                                 88
Measures to prevent social hardship                                 72
Supporting businesses to get back to normal                         33
Reorientation of business activities                                24
Name: Category, dtype: int64

In [9]:
df1.isna().sum()

Concatinated Data (clean)    0
Category                     0
Type of measure              0
Target groups                0
dtype: int64

In [10]:
df1.replace(
    to_replace={"Category": {
        'Supporting businesses to stay afloat': 0,
        'Other': 1,
        'Income protection beyond short-time work': 2,
        'Protection of workers, adaptation of workplace': 3,
        'Promoting the economic, labour market and social recovery': 4,
        'Ensuring business continuity and support for essential services': 5,
        'Employment protection and retention': 6,
        'Measures to prevent social hardship': 7,
        'Supporting businesses to get back to normal': 8,
        'Reorientation of business activities': 9
    }}, inplace=True)

In [11]:
df1.head()

,Concatinated Data (clean),Category,Type of measure,Target groups
0,"[hardship, case, fund, safety, net, selfemploy...",2,0,"One person or microenterprises, Self-employed,..."
1,"[state, support, tourism, access, financeas, t...",0,0,"SMEs, Sector specific set of companies"
2,"[bank, guarantees, smes, oneperson, enterprise...",0,0,"One person or microenterprises, SMEs"
3,"[emergency, measures, relating, shorttime, wor...",6,0,"Employees in standard employment, Other groups..."
4,"[airbus, agreement, making, unworked, hours, p...",3,2,"Employees in standard employment, Larger corpo..."

## Target groups

In [12]:
df1['Target groups'].value_counts()

                                                                              238
Employees in standard employment                                               86
Sector specific set of companies                                               85
Self-employed                                                                  31
Unemployed                                                                     28
                                                                             ...
Larger corporations, SMEs, Sector specific set of companies                     1
Disabled, Older citizens, Parents                                               1
Particular professions, Seasonal workers, Sector specific set of companies      1
Other businesses, Particular professions                                        1
Other groups of workers, Self-employed, Unemployed                              1
Name: Target groups, Length: 203, dtype: int64

In [13]:
def multi_label_column_to_binary_columns(df, column):
    """
        assuming that the column contains array objects,
        returns a new dataframe with binary columns (True/False)
        indicating presence of each distinct array element.

        :df: the pandas DataFrame
        :column: the column with array values
        :return: a new DataFrame with binary columns
    """
    s = df[column].str.replace("'", '').str.split(',').explode().to_frame()
    cols = s[column].drop_duplicates(keep="first").tolist()
    df2 = pd.concat([df, pd.crosstab(s.index, s[column])[cols]], axis=1)

    return df2

In [14]:
df2 = multi_label_column_to_binary_columns(df1, 'Target groups')
df2.head()

,Concatinated Data (clean),Category,Type of measure,Target groups,One person or microenterprises,Self-employed,Solo-self-employed,SMEs,Sector specific set of companies,SMEs,...,Youth (18-25) in employment,Workers in care facilities,Older people in employment (aged 55+),Undeclared workers,The COVID-19 risk group,Other groups of citizens,Disabled workers,Youth (18-25) in employment,Female workers,Contractors of a company
0,"[hardship, case, fund, safety, net, selfemploy...",2,0,"One person or microenterprises, Self-employed,...",1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[state, support, tourism, access, financeas, t...",0,0,"SMEs, Sector specific set of companies",0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,"[bank, guarantees, smes, oneperson, enterprise...",0,0,"One person or microenterprises, SMEs",1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,"[emergency, measures, relating, shorttime, wor...",6,0,"Employees in standard employment, Other groups...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"[airbus, agreement, making, unworked, hours, p...",3,2,"Employees in standard employment, Larger corpo...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#df2.to_pickle(DATA_FOLDER / "pwdb/pickle/df_columns_labels.pkl")